<%- include('partials/header') %>
<body>
  <h2>Edit/Delete Post</h2>
  <h3><%= post.title %></h3>
  <p><%= post.content %></p>
  <a href="/home">Back to Home</a>
</body>
<%- include('partials/footer') %>
